<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Solar Mosaic Style Guide: Buttons
    </title>
    <link href="/styleguide/assets/styles/styleguide.css" rel="stylesheet">
  </head>
  <body>
    <h1>
      <a href="../.." title="Overview">Solar Mosaic Style Guide</a>
    </h1>
    <nav class="global">
      <ul>
        <li class="item-components">
          <a href="..">Components</a>
          <ul>
            <li class="item-alerts">
              <a href="../alerts">Alerts</a>
            </li>
            <li class="item-buttons active">
              <a href=".">Buttons</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <h2>
      Buttons
    </h2>
    <p>
      Something cool about buttons!
    </p>
    <div class="example">
      <div class="component">
        <button class="button button-default">Default Button</button>
      </div>
    </div>
  </body>
</html>
