---
title: Alerts
component: partials/components/alert
---

{{#extend "layouts/component"}}
  {{#content "layouts/component/content" mode="prepend"}}
    <p>Something cool about alerts!</p>
  {{/content}}
{{/extend}}
