---
title: Alerts
---

{{#extend "layouts/component"}}
  {{#content "layouts/component/content"}}
    <p>Something cool about alerts!</p>
    {{{partial "examples/alerts"}}}
  {{/content}}
{{/extend}}
