---
title: Buttons
---

{{#extend "layout/styleguide"}}
  {{#content "main"}}
    {{#chunk "main"}}
      <h2>Buttonssssissss</h2>
      {{#embed "component"}}
        {{#content "component"}}
          {{> [component/button] examples.default}}
        {{/content}}
      {{/embed}}
    {{/chunk}}
  {{/content}}
{{/extend}}