---
title: Buttons
---

{{#extend "layouts/component"}}
  {{#content "layouts/component/content"}}
    <p>Something cool about buttons!</p>
    {{{partial "examples/buttons"}}}
  {{/content}}
{{/extend}}
