---
title: Components
# TODO build this dynamically and pass in
components:
  - examples/alerts
  - examples/buttons
---

{{#extend "layouts/default"}}
  {{#content "layouts/default/content"}}
    <div class="components">
      {{#each file.data.components}}
        {{{partial this}}}
      {{/each}}
    </div>
  {{/content}}
{{/extend}}
