<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Solar Mosaic Style Guide: Alerts</title>
    <link href="/styleguide/assets/styles/styleguide.css" rel="stylesheet">
</head>

<body>
    <h1><a href="../.." title="Overview">Solar Mosaic Style Guide</a></h1>
    <nav class="global">
        <ul>
            <li class="item-components">
                <a href="..">Components</a>
                <ul>
                    <li class="item-alerts active">
                        <a href=".">Alerts</a>
                    </li>
                    <li class="item-buttons">
                        <a href="../buttons">Buttons</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <main class="main" role="main">
        <h2>Alerts</h2>
        <p>Something cool about alerts!</p>
        <div class="component">
            <div class="alert alert-error" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <p>Oh noes!</p>
            </div>


        </div>

    </main>
</body>

</html>
